<div class="search-form" >
    <form [formGroup]="searchForm" (ngSubmit)="searchMedicine()">
      <!-- <h5>найти нужное средство</h5> -->
      <!-- Search form -->
      <div class="input-group mb-3">
        <input type="text" formControlName="keyWords" class="form-control" placeholder="Найти нужно средство" aria-label="Найти нужно средство" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="form-check">
          <input type="checkbox" formControlName="byName" class="form-check-input">
          <label class="form-check-label" for="byName">по названию</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="bySymptoms" class="form-check-input">
        <label class="form-check-label" for="bySymptoms">по симптомам</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="byDescription" class="form-check-input">
        <label class="form-check-label" for="byDescription">по описанию</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="byArticles" class="form-check-input">
        <label class="form-check-label" for="byArticles">по статьям</label>
      </div>
    </form>
  </div>

