<div class="container col-md-12"> 
    <div class="row">
        <div class="col">
            <h1>Gomeo</h1>
        </div>
        <div class="col align-self-center">
          <app-menu></app-menu>
            <!-- <button (click)="getAllMedicines()" class="btn btn-info">Список средств</button>
            <button (click)="addMedicine()" class="btn btn-info">Добавить средство</button>
            <button (click)="getAllArticles()" class="btn btn-info">Статьи</button> -->
        </div>
      </div>
</div>

<div class="col-md-8">
    <h2 class="text-center">Add Medicine</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
          <label>NameLat:</label>
          <input type="text" formControlName="nameLat" placeholder="Латинское название" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameLat.errors }">
          <div *ngIf="submitted && f.nameLat.errors">
            <div *ngIf="f.nameLat.errors.required">nameLat is required</div>
          </div>
        </div>

      <div class="form-group">
        <label>Name:</label>
        <input type="text" formControlName="name" placeholder="Имя" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <!--<div *ngIf="submitted && f.name.errors">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>-->
      </div>
  

      <div class="form-group">
        <label>Описания лекарства:</label><br>
        <!--<div formArrayName="descriptions" *ngFor="let item of editForm.get('descriptions').controls; let i = index;">//-->
        <div formArrayName="descriptions" *ngFor="let item of addForm.get('descriptions').controls; let i = index;">
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Источник" class="form-control">
            <textarea formControlName="description" placeholder="Описание" class="form-control"></textarea>
          </div>
        </div>
        
        <button type="button" (click)="addItem()">Добавить описание</button>
      </div>
  
      <div class="form-group">
        <label>Symptoms:</label>
        <textarea formControlName="symptoms" placeholder="Symptoms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symptoms.errors }"></textarea>
        <!--<div *ngIf="submitted && f.symptoms.errors">
          <div *ngIf="f.symptoms.errors.required">Symptoms is required</div>
        </div>-->
      </div>
    
      <button type="submit"  class="btn btn-info">Save</button>
    </form>
  </div>