<div class="col-md-8">
  <h2 class="text-center">Medicine edit</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label>NameLat:</label>
        <input type="text" formControlName="nameLat" placeholder="Латинское название" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nameLat.errors }">
        <div *ngIf="submitted && f.nameLat.errors">
          <div *ngIf="f.nameLat.errors.required">nameLat is required</div>
        </div>
      </div>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" formControlName="name" placeholder="Имя" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <!--<div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>-->
    </div>


    <div class="form-group">
      <label>Description:</label>
      <textarea formControlName="description" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
      <!--<div *ngIf="submitted && f.description.errors">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>-->
    </div>

    <button type="button" (click)="addItem()">Add Alias</button>
    <div formArrayName="items" *ngFor="let item of editForm.get('items').controls; let i = index;">
      <div [formGroupName]="i">
        <input formControlName="name" placeholder="Item name">
        <input formControlName="description" placeholder="Item description">
      </div>
    
      Chosen name: {{ editForm.controls.items.controls[i].controls.name.value }}
    </div>

    <div class="form-group">
      <label>Symptoms:</label>
      <textarea formControlName="symptoms" placeholder="Symptoms" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.symptoms.errors }"></textarea>
      <!--<div *ngIf="submitted && f.symptoms.errors">
        <div *ngIf="f.symptoms.errors.required">Symptoms is required</div>
      </div>-->
    </div>
  
    <button type="submit"  class="btn btn-info">Save</button>
    
    <button type="button"  class="btn btn-delete" (click)="deleteMedicine(medicine)">Delete</button>
  </form>
</div>